<!-- Auth Modal -->
<div id="auth-modal" class="auth-modal">
  <div class="auth-modal-content">
    <button id="auth-modal-close" class="auth-modal-close">&times;</button>
    <h2>━━━ Login ━━━</h2>
    <p class="small-text center-text">log in with:</p>
    <div class="auth-buttons">
      <button id="modal-login-google"><img src="/img/google.svg" alt="" class="button-icon">Google</button>
      <button id="modal-login-github"><img src="/img/github.svg" alt="" class="button-icon">GitHub</button>
    </div>
    
    <!--<div class="auth-email-section">
      <input id="modal-email" type="email" placeholder="Email" />
      <input id="modal-password" type="password" placeholder="Password" />
      <div class="auth-email-buttons">
        <button id="modal-login-email">Login</button>
        <button id="modal-signup-email">Sign Up</button>
      </div>
    </div>-->
  </div>
</div>
